/*google fonts*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

/*basic reset*/
* {
	padding: 0;
	margin: 0;
}

/*css*/
body {
	background-color: white;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 20px;
	color: #222124;
	line-height: 1.5em;
}

#wrapper {
	background-color: #orange;
	margin: 0 auto;
	max-width: 1085px;
}

header {
	border-bottom: 1px;
	background-color: #ffed74;
	/*background-color: #ffffff;*/
	padding: 20px;
}

h1 {
	color: #222124;
	font-weight: 300;
	margin-bottom: 10px;
}

nav a {
	margin-right: 10px;
	color: #222124;
	font-weight: 300;
	/*float: right;*/
}

a:link, visited {
	color: #222124;
	text-decoration: none;
	/*margin-left: 20px;*/ 
}

a:hover, active {
	color: #0097E5;
}

#portfolio {
	background-color: yellow;
}

#largethumb {
	border: 1px black solid;
    padding: 20px;
    float: left;
    margin: 0 auto;
	/*padding: 5px;*/
}

#smallthumb {
	border: 1px black solid;
    padding: 20px;
    float: left;
    margin: 0 auto;
	/*padding: 5px;*/
}

footer {
	font-size: 15px;
	font-weight: 300;
	color: #222124;
	/*background-color: #ffffff;*/
	background-color: #ffe2b8;
	padding: 20px;
	text-align: center;
	border-top: 1px;
	clear: both;
}